body {
    font-size: 300px;
    height: 75%;
    color: #5d5c5c;
    display: block;
    justify-content: center;
    text-align: center;
}

#header {
    font-size: 50px;
    margin-top: 80px;
    color: aqua;
    text-shadow: 2px 2px 4px black, 0 0 1em black, 0 0 0.2em black;
}
blac,
#footer {
    font-size: 40px;
    margin-top: 20px;
    color: aqua;
    text-shadow: 1px 1px 2px rgb(93, 100, 100), 0 0 1em rgb(93, 100, 100), 0 0 0.2em rgb(93, 100, 100);
}

#reset-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-family: Times;
    font-size: 30px;
    background-color: #5d5c5c;
    color: white;
    border-radius: 25px;
    border: 3px solid aqua;
    padding: 2px 15px;
}

#top-left { 
    grid-area: top-left;
}

#top-mid { 
    grid-area: top-mid;
    background-color: white;
}

#top-right { 
    grid-area: top-right;
}

#mid-left { 
    grid-area: mid-left;
    background-color: white;
}

#mid-mid { 
    grid-area: mid-mid;
}

#mid-right { 
    grid-area: mid-right;
    background-color: white;
}

#bottom-left { 
    grid-area: bottom-left;
}

#bottom-mid { 
    grid-area: bottom-mid;
    background-color: white;
}

#bottom-right {
    grid-area: bottom-right;
}

#top-left, #top-mid, #top-right, #mid-left, #mid-mid, #mid-right, #bottom-left, #bottom-mid, #bottom-right {
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    background-color: aqua;
    margin: 0 auto;
    height: 40vh;
    width: 40vh;
    display: grid;
    border-radius: 50px;
    border: 3px solid #5d5c5c;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        'top-left top-mid top-right'
        'mid-left mid-mid mid-right'
        'bottom-left bottom-mid bottom-right'
}

